<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <i class='fas fa-file-invoice' style='font-size:20px;'>&nbsp;<span style="font-size: 25px;">Invoice Details</span style="font-size: 25px;"></i>&nbsp;
            <ul class="breadcrumb">
              <li><a href="/dashboard">Dashboard</a></li>&nbsp; / &nbsp;
              <li><a href="/user/user_list">UserList</a></li>&nbsp; / &nbsp;
              <li>Invoice Details</li>
            </ul>
          </div>
      </div>
    </div>
  </section>


  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                    <img src="/img/logo_new.png" alt=""  width="50px"   >
                    Admin, My Soul Mate
                  <small class="float-right"><b>Date:</b> <%= new Date().toLocaleString();%></small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <address>
                    <strong><%= invoice.length > 0 ?  invoice[0].billing_name : '' %>,</strong>
                    <%= invoice.length > 0 ?  invoice[0].billing_address : '' %>,<br>
                    <%= invoice.length > 0 ?  invoice[0].billing_city : '' %>- <%= invoice.length > 0 ?  invoice[0].billing_zip : '' %>,<br>
                    <%= invoice.length > 0 ?  invoice[0].billing_country : '' %>, <%= invoice.length > 0 ?  invoice[0].billing_state : '' %>,<br>
                     Phone: &nbsp;<%= invoice.length > 0 ?  invoice[0].billing_tel : '' %>,<br>
                     Email: &nbsp;<%= invoice.length > 0 ?  invoice[0].billing_email : '' %>
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col" style="margin-left: 18vw;">
                <b>Invoice No: </b><br>
                <b>Order Date:</b><br>
                <b>Order ID: </b>&nbsp;<%= invoice.length > 0 ?  invoice[0].order_id : '' %><br>
                <b>Payment Mode: </b>&nbsp;<%= invoice.length > 0 ?  invoice[0].payment_mode : '' %><br>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Qty</th>
                    <th>Product</th>
                    <th>Tennure(In Month)</th>
                    <th>Description</th>
                    <th>Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>₹</td>
                  </tr>
                  <tr>
                    <td><b>Total QTY: &nbsp; 1</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Total Price: &nbsp; ₹<%= invoice.length > 0 ?  invoice[0].amount : '' %>.00</b><br>
                        All values are in <%= invoice.length > 0 ?  invoice[0].currency : '' %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row no-print">
              <div class="col-12">
                <a href="invoice-print.html" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Submit
                  Payment
                </button>
                <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                  <i class="fas fa-download"></i> Generate PDF
                </button>
              </div>
            </div>
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>