
<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper"> -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <i class='fas fa-users' style='font-size:20px;'>&nbsp;<span style="font-size: 25px;">User Lists</span style="font-size: 25px;"></i>&nbsp;
          </div>
          <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div> -->
        </div>
      </div><!-- /.container-fluid -->
    </section>

     <!-- Main content -->
     <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- <div class="card-header">
                      <h3 class="card-title">DataTable with default features</h3>
                    </div> -->
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped dataTables">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>User ID</th>
                          <th>Profile Image</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Phone No</th>
                          <th>Subscription Status</th>
                          <!-- <th>Subscription Expire</th> -->
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% if(data.length > 0){
                          var i = 1
                          data.forEach(dt => { %>
                            <tr>
                              <td><%= i %></td>
                              <td><%= dt.profile_id %></td>
                              <!-- <td><a href="http://202.21.38.178:3000/uploads/<%= dt.file_path %>" target="_blank"><img src="http://202.21.38.178:3000/uploads/<%= dt.file_path %>" alt="" srcset="" width="50" height="50"></a></td> -->
                              <td><img src="http://202.21.38.178:3000/uploads/<%= dt.file_path %>" alt="" srcset="" width="50" height="50"></td>
                              <td><%= dt.u_name %></td>
                              <td><%= dt.email_id %></td>
                              <td><%= dt.phone_no %></td>
                              <td><%= dt.pay_flag=='Y' ? dt.plan_id : 'No' %></td>
                              <td>
                                <select class="ac_active_flag" data-user-id="<%= dt.id %>">
                                  <option value="Y" <%= dt.active_flag == 'Y' ? 'selected' : '' %>>Active</option>
                                  <option value="N" <%= dt.active_flag == 'N' ? 'selected' : '' %>>Deactive</option>
                                </select>
                              </td>
                              <td><a class="btn btn-primary view-button" href="/user/view_user?id=<%= dt.id %>"><i class='fas fa-eye'></i</a></td>
                            </tr>
                          <% i++; })
                        } %>
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
    <!-- </div> -->