<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <i class='fas fa-file-invoice' style='font-size:20px;'>&nbsp;<span style="font-size: 25px;">Invoice</span style="font-size: 25px;"></i>&nbsp;
            <ul class="breadcrumb">
              <li><a href="/dashboard">Dashboard</a></li>&nbsp; / &nbsp;
              <li><a href="/user/user_list">UserList</a></li>&nbsp; / &nbsp;
              <li>Invoice Details</li>
            </ul>
          </div>
      </div>
    </div>
  </section>


  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Main content -->
          <div class="invoice p-3 mb-3" id="divToPrint">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                    <img src="/img/logo_new.png" alt=""  width="50px"   >
                    Admin, My Soul Mate
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <address>
                  <b style="font-size: 21px;"><%= data1.length > 0 ?  data1[0].billing_name : '' %>,</b><br>
                    <%= data1.length > 0 ?  data1[0].billing_address : '' %>,<br>
                    <%= data1.length > 0 ?  data1[0].billing_city : '' %>- <%= data1.length > 0 ?  data1[0].billing_zip : '' %>,<br>
                    <%= data1.length > 0 ?  data1[0].billing_country : '' %>, <%= data1.length > 0 ?  data1[0].billing_state : '' %>,<br>
                     Phone: &nbsp;<%= data1.length > 0 ?  data1[0].billing_tel : '' %>,<br>
                     Email: &nbsp;<%= data1.length > 0 ?  data1[0].billing_email : '' %>
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col" style="margin-left: 18vw;">
                <b>Reference ID: </b>&nbsp; <%= data1.length > 0 ?  data1[0].tracking_id : '' %><br>
                <b>Bank Ref ID: </b>&nbsp; <%= data1.length > 0 ?  data1[0].bank_ref_no : '' %><br>
                <b>Invoice Date: </b>&nbsp; <%= data1.length > 0 ? data1[0].trans_rec_date.toLocaleString() : '' %><br>
                <b>Order ID: </b>&nbsp; <%= data1.length > 0 ?  data1[0].order_id : '' %><br>
                <b>Order Date:</b>&nbsp; <%= data1.length > 0 ? data1[0].tnx_date.toLocaleString() : '' %><br>
                <b>Payment Mode: </b>&nbsp; <%= data1.length > 0 ?  data1[0].payment_mode : '' %><br>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Qty</th>
                    <th>Product</th>
                    <th>Tennure(In Month)</th>
                    <th>Description</th>
                    <th>Total</th>
                  </tr>
                  <tr>
                    
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td><%= data1.length > 0 ?  data1[0].pack_name : '' %></td>
                    <td><%= data1.length > 0 ?  data1[0].tennure_period : '' %></td>
                    <td><%= data1.length > 0 ?  data1[0].pack_name : '' %></td>
                    <td>₹<%= data1.length > 0 ?  data1[0].amount : '' %>.00</td>
                  </tr>
                  <tr>
                    <td><b>Total QTY: &nbsp; 1</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Total Price: &nbsp; ₹<%= data1.length > 0 ?  data1[0].amount : '' %>.00</b><br>
                        All values are in <%= data1.length > 0 ?  data1[0].currency : '' %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row no-print">
              <div class="col-12">
                <!-- <a href="" rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a> -->
                <button class="btn btn-default" onclick="printDiv()"><i class="fas fa-print"></i> Print</button>
                <button type="button" onclick="generatePDF()" class="btn btn-primary float-right" style="margin-right: 5px;">
                  <i class="fas fa-download"></i> Generate PDF
                </button>
              </div>
            </div>
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

  <script>
    function printDiv() {

        var divToPrint = document.getElementById('divToPrint');

        var WindowObject = window.open('', 'Print-Window');
        WindowObject.document.open();
        WindowObject.document.writeln('<!DOCTYPE html>');
        WindowObject.document.writeln('<html><head><title></title><style type="text/css">');


        WindowObject.document.writeln('@media print { .center { text-align: center;}' +
            '                                         .inline { display: inline; }' +
            '                                         .underline { text-decoration: underline; }' +
            '                                         .left { margin-left: 315px;} ' +
            '                                         .right { margin-right: 375px; display: inline; }' +
            '                                          table { border-collapse: collapse; font-size: 10px;}' +
            '                                          th, td { border: 1px solid black; border-collapse: collapse; padding: 6px;}' +
            '                                           th, td { }' +
            '                                         .border { border: 1px solid black; } ' +
            '                                         .bottom { bottom: 5px; width: 100%; position: fixed ' +
            '                                       ' +
            '                                   } } </style>');
        WindowObject.document.writeln('<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">');    
        WindowObject.document.writeln('<link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">');    
        WindowObject.document.writeln('<link rel="stylesheet" href="/css/adminlte.min.css">');    
        WindowObject.document.writeln('</head><body onload="window.print()">');
        WindowObject.document.writeln(divToPrint.innerHTML);
        WindowObject.document.writeln('</body></html>');
        WindowObject.document.close();
        setTimeout(function () {
            WindowObject.close();
        }, 8);

    }
</script>
<!-- Include jsPDF library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

<script>
  // Function to generate and download the PDF
  function generatePDF() {
    // Create a new instance of jsPDF
    var pdf = new jsPDF();

    // Add content to the PDF (replace this with your content)
    pdf.text('Hello, this is a sample PDF!', 10, 10);

    // Save the PDF with a specific name
    pdf.save('generated_pdf.pdf');
  }

  // Attach the function to the button click event
  document.getElementById('generatePdfButton').addEventListener('click', generatePDF);
</script>
